
/* =========================================================================================================== */
/* Desktop */
/* =========================================================================================================== */

@media (min-width: 1000px){ 
    
    .RS-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }

    .RS-01 {
        background-color: rgba(255, 255, 255, 0.09);
        display: flex;
        justify-content: center;
        width: 85%;
        padding: 25px;
        border-radius: 15px;
        transition: all 0.3s ease;
        position: static;
        overflow: visible; 
    }

    .RS-01:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    }

    .isi-content{
        padding: 0px 10px;
    }

    .text {
        text-align: justify;
    }

    .text p {
        margin: 10px 0px;
        width: 100%;
        height: 350px;
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 15px;
    }

    .namaRS{
        display: flex;
        justify-content: center;
        padding: 10px 20px ;
        width: 350px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        color: rgb(66, 218, 162);
    }

    .lokasi {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 10px;

    }

    .lokasi a:hover {
        color: rgb(40, 87, 126) ;
    }

    .judul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 50px auto 0px auto;
        background-color: rgba(0, 0, 0, 0.547);
        width: 300px;
        padding: 10px;
        font-size: 25px;
        border-radius: 15px;
    }

    .RS-img {
        width: 40%;
        height: 100%;
        padding: 20px;
    }

}

/* =========================================================================================================== */
/* MOBILE */
/* =========================================================================================================== */

@media (min-width: 100px) and (max-width: 500px) { 

    .judul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 20px auto 0px auto;
        background-color: rgba(0, 0, 0, 0.547);
        width: 200px;
        padding: 10px 0px;
        font-size: 15px;
        border-radius: 15px;
    }

    .RS-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .RS-01 {
        background-color: rgba(255, 255, 255, 0.09);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        flex-direction: column;
        font-size: 11px;
        transition: all 0.3s ease;
        position: static;
        overflow: visible;
        margin: 0px 10px;
    }

    .RS-img {
        width: 80%;
        margin: 10px 0px;
    }

    .isi-content{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px 0px;
    }

    .namaRS{
        display: flex;
        justify-content: center;
        padding: 5px 20px ;
        width: 200px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        color: rgb(67, 214, 67);
    }

     .text p {
        margin: 10px 0px;
        width: 100%;
        height: 280px;
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 10px;
    }

    
    .lokasi {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 10px;

    }

    .lokasi a:hover {
        color: rgb(40, 87, 126) ;
    }

}