/* =========================================================================================================== */
/* Desktop */
/* =========================================================================================================== */

@media (min-width: 1000px){ 

    body {
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .content-01 {
        background-color: #cc9693;
        justify-content: center;
        display: flex;
        border-bottom: 5px solid rgba(141, 140, 140, 0.56);
        box-shadow: 0px 2px 15px 5px #391b1b;
    }

    .text-content {
        background-color: rgba(0, 0, 0, 0.535);
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        position: static;
        overflow: visible; 
    }

    .text-content:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    }

    .medis-02 {
        width: 50%;
    }

    .content-02 {
        border: 1px solid rgba(0, 0, 0, 0.183);
        border-radius: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 100px;
        margin: 50px 100px;
        transition: all 0.3s ease;
        position: static;
        overflow: visible; 
    }

    .content-02:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
        border: 0cm;
    }

    .isi-content-02 {
        display: flex;
        /* border: 1px solid purple; */
        padding-bottom: 10px;
        justify-content: center; 
        align-items: center;      
        text-align: center;
    }

    .isi-content-02 p {
        text-align: justify;
        margin-left: 100px;
        transition: all 0.3s ease;
        font-size: 15px;
        border-radius: 10px;
        padding: 20px;
    }

    .isi-content-02 p:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    }

    .medis-01 {
        width: 30%;
        transition: all 0.3s ease;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    .medis-01:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    }

    .judul-edukasi {
        display: flex;
        justify-content: center;
        font-size: 35px;
        background-color: #391b1b;
        padding: 10px;
    }

    .judul-edukasi h1 {

        padding: 10px;
        border-radius: 10px;
    }

    .video-slider-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin-top: 2rem;
    }

    .video-slider {
    display: flex;
    gap: 1rem;
    }

    .video-slider iframe {
    width: 453px;
    height: 255px;
    border-radius: 10px;
    flex-shrink: 0;
    }

    .video-slider .videolocal {
    width: 453px;
    height: 255px;
    border-radius: 10px;
    flex-shrink: 0;
    }


}


/* =========================================================================================================== */
/* MOBILE */
/* =========================================================================================================== */

@media (min-width: 100px) and (max-width: 500px) { 
    
.content-01 {
    background-color: white;
    justify-content: center;
    display: flex;
    border-bottom: 10px solid rgb(204, 197, 197);
    box-shadow: 0px 2px 15px 5px #391b1b;
}

.content-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.183);
    padding: 10px 12px;
    margin: 15px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.271);
}

.text-content {
    background-color: rgba(0, 0, 0, 0.535);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 13px;
}

.isi-content-02 {
    display: flex;
    /* border: 1px solid purple; */
    flex-direction: column;
    align-items: center;
}

.medis-01 {
    width: 80%;
}

.isi-content-02 p {
    text-align: justify;
    transition: all 0.3s ease;
    font-size: 10px;
    border-radius: 10px;
    padding: 15px 10px;
}
}
