.dropdown {
  position: relative;
  list-style: none;

}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: hsl(0, 0%, 100%) ;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
  width: 350px;
}

.dropdown-contentRS{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: hsl(0, 0%, 100%) ;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
  width: 150px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column a {
  text-decoration: none;
  color: black;
  padding: 4px 0;
  font-weight: 500;
}

.column a:hover {
  text-decoration: underline;
}

.dropdown-button:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(251, 251, 251);;
}